.single_item{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    
    width: 80vw;
    gap:50px;
   
}
.back-arrow{
    height: 40px;
    opacity:0.4;
    cursor: pointer;
    width: 50px;
    transition: all 0.2s ease-in-out;
    &:hover{    
        opacity: 0.7;
    }
}
.single_item-content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    
}
.back-arrow-link{
    display: flex;
    width: 100%;
    justify-content: end;
}

.single_item-content{
display: flex;
justify-content: center;
align-items: center;
width: 70vw;
gap:25px;
box-shadow:0px 0px 4px rgba(0,0,0,0.2);
padding:25px 20px;
border-radius: 4px;
flex-wrap: wrap;
a{
    display: block;
    width:50px;
}
img{
    border-radius: 4px;
    // box-shadow:0px 0px 5px rgba(0,0,0,0.2);
    object-position:top center;
    object-fit: contain;
  width: 350px;
  height: fit-content;
  max-height: 350px;
}



}
.single_item-content-container{
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    .direction{
        height: 30px;
        width: 30px;
        opacity: 0.3;
        cursor:pointer;
        transition: opacity 0.3s ease-in-out;
        transform: rotate(180deg);
        &:hover{
            opacity: 0.6;
        }
        &.next{
            transform: rotate(0deg);
        }
    }    
}

.single_item-text{
    height: 400px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:20px;
    width: 450px;
    h1{
        font-size: 25px;
    }
   
}
.single_item-categories{
   
   

    display:grid;
  grid-template-columns: 277px 250px;
  grid-row: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 50px;
    
    
    
    p{
        display: flex;
        gap:5px;
        text-align: left;
        font-size: 15px;
        height: fit-content;
    }
}
.single-item-cars{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}
.single_item-cars-models{
    
    list-style: none;
    display: flex;
    // flex-direction: column;
    align-items: flex-start;
    gap:10px;
    
    ul{
        display: flex;
        flex-direction: column;
        gap:5px;
        list-style: none;
        text-align: left;
    }
}
.single_item-price{
    width: 100%;
    display: flex; 
    flex-direction: row-reverse;
    font-weight: normal;
    justify-content: space-between;
    align-items: center;
    
   
    button{
        cursor: pointer;
        background-color: #36AC0D;
        border-radius: 4px;
        color:white;
        border:none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 140px;
        padding:2px;
        height: 40px;
        white-space: nowrap;
        transition: transform 0.05s ease-in-out;
        &:hover img{
            transform:translateY(-2px);
        }
        &:active{
            transform:scale(0.97);
        }
        img{
            box-shadow: none;
            transition: transform 0.3s ease-in-out;
            height: 25px;
            width: 25px;
        }
    }
}
.similar-list{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    gap:10px;
    li{
        width: 180px;
    }
    height: 300px;
}

.counter{
    display: flex;
    gap:5px;
    align-items: center;
    button{
        background-color: #fff;
        color: #36AC0D;
        font-size: 25px;
        font-weight: 700;
        width: 25px;
        height: 25px;
    }
    input{
        outline:1px solid #36AC0D;
        border-radius: 4px;
        border:1px solid rgba(0,0,0,0.2);
        text-align: center;
        padding:5px;
        
        font-size: 18px;
        height: 25px;
        width: 45px;
    }
}
.single_item-categories{
    p {
        span{
            cursor: pointer;
            border:1px solid rgba(0,0,0,0.2);
            border-radius: 4px ;
            padding:0px 5px;
            font-size: 15px;
        }
    }
}
.single-item-cars {
    span{ 
        cursor: pointer;
            border:1px solid rgba(0,0,0,0.2);
            border-radius: 4px ;
            padding:0px 5px;
    }
}
.single_item-cars-models{
    ul{
        li{
            cursor: pointer;
            border:1px solid rgba(0,0,0,0.2);
            border-radius: 4px ;
            padding:0px 5px;
        }
    }
}
.single_item-text{
    padding:10px;
    width: 50%;
    
}
@media(max-width:1120px){
    .back-arrow-link{
        img{
            width: 30px;
            height: 30px;
        }
    }
    .single_item{
        width: 95vw;
    }
    .single_item-content-container{
        width: 100%;
    }
    .single_item-content{
        max-width: 500px;
        min-height: 60vh;
        padding: 20px 0px;
        width: 95vw;
        gap:5px;
        img{
            width: 220px;
        }
        h2{
            font-size: 15px;
            text-align: center;
        }
        a{display: none;}
    }
    .single_item-text{
        width: 100%;
        gap:20px;
        height: auto;
        flex-direction: column;
        align-items: center;

    }

    .single_item-price{
        max-width: 300px;
    }   
    
    .single_item-price-btn{
        font-size: 10px;
        width: 100px !important;
        img{
            height: 20px !important;
            width: 20px !important;
        }
       
}
.single-item-cars{
    text-align: left;
    span{
        font-size: 12px;
    }
}
.single_item-cars-models{
    gap:0;
    li{
        font-size: 13px;
    }
}
.single_item-categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:20px;
}
}
@media(max-width:500px){
    .single_item-content-container{
        a{
            display: none;
        }
    }
}