@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Regular.ttf");
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-SemiBold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Thin.ttf");
  font-weight: 100;
}
*,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
}
.App {
  overflow-x: hidden;
  min-height: 100vh;
  margin-top: 10px;
  font-family: "Inter";
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
